/* Reset CSS minimale e moderno */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}
