.nav {
  height: 56px;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-main);
  max-width: 650px;
  justify-self: center;
  width: 100%;
}

.icon {
  cursor: pointer;
  color: var(--text-primary);
}

.active {
  color: var(--accent-secondary);
}

.add {
  cursor: pointer;
  color: var(--accent);
}
