.card {
  display: flex;
  gap: 12px;
  background: var(--bg-main);
  border: 1px solid var(--border-color);
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 12px;
  overflow: hidden;
}

/* BADGE FAKE */
.badge {
  width: 50px;
  height: 58px;
  border-radius: 10px;
  background: var(--color-gray-xlight);
  position: relative;
  overflow: hidden;
}

.body {
  flex: 1;
}

/* RIGHE TESTO */
.title,
.text {
  height: 14px;
  border-radius: 6px;
  background: var(--color-gray-xlight);
  margin-bottom: 8px;
  width: 70%;
  position: relative;
  overflow: hidden;
}

.text {
  width: 55%;
}

.image {
  width: 100%;
  height: 110px;
  background: var(--color-gray-xlight);
  border-radius: 10px;
  margin-top: 4px;
  position: relative;
  overflow: hidden;
}

/* SHIMMER */
.badge::after,
.title::after,
.text::after,
.image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.4),
    transparent
  );
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
