.wrapper {
  width: 100%;
  background: var(--bg-main);
  padding: 16px 12px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  margin-bottom: 12px;
}

/* HEADER */
.month {
  width: 40%;
  height: 16px;
  border-radius: 8px;
  background: var(--color-gray-xlight);
  margin: 0 auto 12px auto;
  position: relative;
  overflow: hidden;
}

/* GRIGLIA */
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px 4px;
}

.day {
  width: 34px;
  height: 34px;
  background: var(--color-gray-xlight);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* SHIMMER */
.month::after,
.day::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.4),
    transparent
  );
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  to {
    transform: translateX(100%);
  }
}
